body {
	background-color: #e8e8e8;
	font-family: 'Shadows Into Light', cursive; }

#header {
	text-align: center;
	margin: 10px 50px 10px 50px; }

#header h1 {
	color: #000;
	text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff; }
	
#menu {
	text-align: center;
	margin: 0px 50px 0px 50px; }

#menuContainer {
	margin-left: auto;
	margin-right: auto; }

.menuItemDefault {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 18px;
	padding: 10px;
	background-color: #f8f8f8;
	margin: 0px 0px 10px 0px;
	border: 1px dashed #bebebe;
	border-radius: 10px;
	width: 260px;
	display: inline-block;
	position: relative; }
	
.menuItemOnHover {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 18px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	background-color: #6699cc;
	margin: 0px 0px 10px 0px;
	border: 1px dashed #6699cc;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #666;
	width: 260px;
	display: inline-block;
	position: relative;
	top: -10px;
	left: -10px;
	animation: popup .25s;
	-moz-animation: popup .25s;
	-webkit-animation: popup .25s;
	-o-animation: popup .25s; }
	@keyframes popup {
		0% { top: 0px; left: 0px; box-shadow: none; background-color: #f8f8f8; font-weight: normal; color: #000; }
		100% { top: -10px; left: -10px; box-shadow: 10px 10px 5px #666; background-color: #6699cc; font-weight: bold; color: #fff; } }
	@-moz-keyframes popup {
		0% { top: 0px; left: 0px; box-shadow: none; background-color: #f8f8f8; font-weight: normal; color: #000; }
		100% { top: -10px; left: -10px; box-shadow: 10px 10px 5px #666; background-color: #6699cc; font-weight: bold; color: #fff; } }
	@-webkit-keyframes popup {
		0% { top: 0px; left: 0px; box-shadow: none; background-color: #f8f8f8; font-weight: normal; color: #000; }
		100% { top: -10px; left: -10px; box-shadow: 10px 10px 5px #666; background-color: #6699cc; font-weight: bold; color: #fff; } }
	@-o-keyframes popup {
		0% { top: 0px; left: 0px; box-shadow: none; background-color: #f8f8f8; font-weight: normal; color: #000; }
		100% { top: -10px; left: -10px; box-shadow: 10px 10px 5px #666; background-color: #6699cc; font-weight: bold; color: #fff; } }
	
	
.menuItemOffHover {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 18px;
	padding: 10px;
	color: #000;
	font-weight: normal;
	background-color: #f8f8f8;
	margin: 0px 0px 10px 0px;
	border: 1px dashed #bebebe;
	border-radius: 10px;
	box-shadow: none;
	width: 260px;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	animation: popdown 1s;
	-moz-animation: popdown 1s;
	-webkit-animation: popdown 1s;
	-o-animation: popdown 1s; }
	@keyframes popdown {
		0% { top: -10px; left: -10px; box-shadow: 10px 10px 5px #666; background-color: #6699cc; font-weight: bold; color: #fff; }
		100% { top: 0px; left: 0px; box-shadow: none; background-color: #f8f8f8; font-weight: normal; color: #000; } }
	@-moz-keyframes popdown {
		0% { top: -10px; left: -10px; box-shadow: 10px 10px 5px #666; background-color: #6699cc; font-weight: bold; color: #fff; }
		100% { top: 0px; left: 0px; box-shadow: none; background-color: #f8f8f8; font-weight: normal; color: #000; } }
	@-webkit-keyframes popdown {
		0% { top: -10px; left: -10px; box-shadow: 10px 10px 5px #666; background-color: #6699cc; font-weight: bold; color: #fff; }
		100% { top: 0px; left: 0px; box-shadow: none; background-color: #f8f8f8; font-weight: normal; color: #000; } }
	@-o-keyframes popdown {
		0% { top: -10px; left: -10px; box-shadow: 10px 10px 5px #666; background-color: #6699cc; font-weight: bold; color: #fff; }
		100% { top: 0px; left: 0px; box-shadow: none; background-color: #f8f8f8; font-weight: normal; color: #000; } }
	
#content {
	background-color: #fff;
	height: 500px;
	border: 1px dashed #bebebe;
	border-radius: 10px;
	text-align: center;
	margin: 0px 50px 0px 50px; }
	
#footer {
	text-align: center;
	margin: 0px 50px 0px 50px; }
	
.clear {
	clear: both; }

.innerContent {
	width: 100%;
	float: left; }
	
.innerContent p {
	text-align: left;
	font-size: 16px;
	margin: 0px;
	padding: 20px; }

#interests-content, #work-content, #past-content {
	display: none; }