html, body {
	font-size: 24px;
	color: #fff;
	margin: 0px;
	background-color: #333;
	font-family: 'Economica', sans-serif; }

#header {
	font-size: 40px;
	font-weight: bold;
	padding: 0px 20px 0px 0px;
	text-align: right;
	height: 50px; }

	
#menu {
	padding: 5px 5px 0px 5px;
	background-color: #b1b1b1; }

#menu-container-left {
	text-align: center;
	display: inline-block;
	width: 69%; }
	
#menu-container-right {
	text-align: center;
	width: 15%;
	display: inline-block; }

#content {
	min-height: 100px;
	overflow: scroll; }
	
#content p {
	padding: 10px;
	margin: 0px; }
	
#content img {
	border-radius: 20px;
	opacity: .9;
	padding: 10px; }
	
#footer {
	font-size: 14px;
	height: 25px;
	color: #000;
	padding: 10px;
	background-color: #b1b1b1; }

.menu-item-left-default {
	margin: 0px 0px 5px 0px;
	padding: 5px;
	height: 32px;
	position: relative;
	display: inline-block;
	text-align: center;
	width: 150px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font-weight: bold;
	border-radius: 10px;
	color: #fff;
	background-color: #777; }

/* ON HOVER */
.menu-item-left-onhover {
	text-align: center;
	height: 32px;
	width: 150px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font-weight: bold;
	border-radius: 10px;
	color: #000;
	padding: 5px;
	margin: 0px 0px 5px 0px;
	display: inline-block;
	background-color: #6699cc; 
	box-shadow: 5px 5px 5px #333;
	position: relative;
	top: -5px;
	left: -5px;
	animation: popup-left .25s;
	-moz-animation: popup-left .25s;
	-webkit-animation: popup-left .25s;
	-o-animation: popup-left .25s; }
@keyframes popup-left {
	0% { top: 0px; left: 0px; box-shadow: none; background-color: #777; color: #fff; }
	100% { top: -5px; left: -5px; box-shadow: 5px 5px 5px #333; background-color: #6699cc; color: #000; } }
@-moz-keyframes popup-left {
	0% { top: 0px; left: 0px; box-shadow: none; background-color: #777; color: #fff; }
	100% { top: -5px; left: -5px; box-shadow: 5px 5px 5px #333; background-color: #6699cc; color: #000; } }
@-webkit-keyframes popup-left {
	0% { top: 0px; left: 0px; box-shadow: none; background-color: #777; color: #fff; }
	100% { top: -5px; left: -5px; box-shadow: 5px 5px 5px #333; background-color: #6699cc; color: #000; } }
@-o-keyframes popup-left {
	0% { top: 0px; left: 0px; box-shadow: none; background-color: #777; color: #fff; }
	100% { top: -5px; left: -5px; box-shadow: 5px 5px 5px #333; background-color: #6699cc; color: #000; } }
	
/* OFF HOVER */
.menu-item-left-offhover {
	height: 32px;
	text-align: center;
	width: 150px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font-weight: bold;
	border-radius: 10px;
	color: #fff;
	padding: 5px;
	margin: 0px 0px 5px 0px;
	display: inline-block;
	background-color: #777; 
	box-shadow: none;
	position: relative;
	top: 0px;
	left: 0px;
	animation: popdown-left .25s;
	-moz-animation: popdown-left .25s;
	-webkit-animation: popdown-left .25s;
	-o-animation: popdown-left .25s; }
@keyframes popdown-left {
	0% { top: -5px; left: -5px; box-shadow: 5px 5px 5px #333; background-color: #6699cc; color: #000; }
	100% { top: 0px; left: 0px; box-shadow: none; background-color: #777; color: #fff; } }
@-moz-keyframes popdown-left {
	0% { top: -5px; left: -5px; box-shadow: 5px 5px 5px #333; background-color: #6699cc; color: #000; }
	100% { top: 0px; left: 0px; box-shadow: none; background-color: #777; color: #fff; } }
@-webkit-keyframes popdown-left {
	0% { top: -5px; left: -5px; box-shadow: 5px 5px 5px #333; background-color: #6699cc; color: #000; }
	100% { top: 0px; left: 0px; box-shadow: none; background-color: #777; color: #fff; } }
@-o-keyframes popdown-left {
	0% { top: -5px; left: -5px; box-shadow: 5px 5px 5px #333; background-color: #6699cc; color: #000; }
	100% { top: 0px; left: 0px; box-shadow: none; background-color: #777; color: #fff; } }

	
.menu-item-right-default {
	margin: 0px 0px 5px 0px;
	position: relative;
	top: 0px;
	left: 0px;
	cursor: pointer;
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #777;
	box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff;
	border-radius: 5px;
	background-color: #777;
	background-size: 32px 32px;
	background-repeat: no-repeat; }
	
.menu-item-right-onhover {
	position: relative;
	top: -5px;
	left: -5px;
	cursor: pointer;
	margin: 0px 0px 5px 0px;
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #6699cc;
	box-shadow: 0px 0px 2px #6699cc, 0px 0px 2px #6699cc, 5px 5px 5px #000;
	border-radius: 5px;
	background-color: #6699cc;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	animation: popupright .25s;
	-moz-animation: popupright .25s;
	-webkit-animation: popupright .25s;
	-o-animation: popupright .25s; }
@keyframes popupright {
	0% { top: 0px; left: 0px; box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff; background-color: #777; border: 1px solid #777 }
	100% { top: -5px; left: -5px; box-shadow: 0px 0px 2px #6699cc, 0px 0px 2px #6699cc, 5px 5px 5px #000; background-color: #6699cc; 1px solid #6699cc; } }
@-moz-keyframes popupright {
	0% { top: 0px; left: 0px; box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff; background-color: #777; border: 1px solid #777 }
	100% { top: -5px; left: -5px; box-shadow: 0px 0px 2px #6699cc, 0px 0px 2px #6699cc, 5px 5px 5px #000; background-color: #6699cc; 1px solid #6699cc; } }
@-webkit-keyframes popupright {
	0% { top: 0px; left: 0px; box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff; background-color: #777; border: 1px solid #777 }
	100% { top: -5px; left: -5px; box-shadow: 0px 0px 2px #6699cc, 0px 0px 2px #6699cc, 5px 5px 5px #000; background-color: #6699cc; 1px solid #6699cc; } }
@-o-keyframes popupright {
	0% { top: 0px; left: 0px; box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff; background-color: #777; border: 1px solid #777 }
	100% { top: -5px; left: -5px; box-shadow: 0px 0px 2px #6699cc, 0px 0px 2px #6699cc, 5px 5px 5px #000; background-color: #6699cc; 1px solid #6699cc; } }
	
.menu-item-right-offhover {
	position: relative;
	top: 0px;
	left: 0px;
	cursor: pointer;
	margin: 0px 0px 5px 0px;
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid #777;
	box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff;
	border-radius: 5px;
	background-color: #777;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	animation: popdown-right .25s;
	-moz-animation: popdown-right .25s;
	-webkit-animation: popdown-right .25s;
	-o-animation: popdown-right .25s; }
@keyframes popdown-right {
	0% { top: -5px; left: -5px; box-shadow: 0px 0px 2px #6699cc, 0px 0px 2px #6699cc, 5px 5px 5px #000; background-color: #6699cc; 1px solid #6699cc; }
	100% { top: 0px; left: 0px; box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff; background-color: #777; border: 1px solid #777 } }
@-moz-keyframes popdown-right {
	0% { top: -5px; left: -5px; box-shadow: 0px 0px 2px #6699cc, 0px 0px 2px #6699cc, 5px 5px 5px #000; background-color: #6699cc; 1px solid #6699cc; }
	100% { top: 0px; left: 0px; box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff; background-color: #777; border: 1px solid #777 } }
@-webkit-keyframes popdown-right {
	0% { top: -5px; left: -5px; box-shadow: 0px 0px 2px #6699cc, 0px 0px 2px #6699cc, 5px 5px 5px #000; background-color: #6699cc; 1px solid #6699cc; }
	100% { top: 0px; left: 0px; box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff; background-color: #777; border: 1px solid #777 } }
@-o-keyframes popdown-right {
	0% { top: -5px; left: -5px; box-shadow: 0px 0px 2px #6699cc, 0px 0px 2px #6699cc, 5px 5px 5px #000; background-color: #6699cc; 1px solid #6699cc; }
	100% { top: 0px; left: 0px; box-shadow: 0px 0px 2px #777, 0px 0px 2px #777, 0px 0px 0px #fff; background-color: #777; border: 1px solid #777 } }
	
#interests-content, #past-content {
	display: none; }
	
#linkedin-box {
	background-image: url('linkedin.png');
	background-repeat: no-repeat; }
	
#github-box {
	background-image: url('github.png');
	background-repeat: no-repeat; }	
	
#twitter-box {
	background-image: url('twitter.png');
	background-repeat: no-repeat; }	

.horitonzalLine {
	height: 2px;
	background-color: #777; }
	
.clear {
	clear: both; }